<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solxi Cocina - Recetario Online</title>
</head>
<body>
    <h1>Full Full Chocotortix</h1>
    <hr>
    <img src="chocotorta full.jpg" alt="" srcset="">
    <p>  El postre que nunca puede faltar para deleitarte! 
    </p>
    <h2><b>INGREDIENTES PARA ESTA PREPARACIÓN:</b></h2>
    <ul>
        <li>750gr de chocolinas.</li>
        <li>400 ml de dulce de leche.</li>
        <li>400 ml de crema de leche.</li>
        <li>1/2 taza de leche para remojar las galletitas</li> </ul>
        <br>

    <h2><B>¡MANOS A LA OBRA!</B></h2>
<ol type="1">
<li>Comenzar a batir el dulce de leche y cuando esté de un color más claro agregar la crema. Batir en el punto más bajo de la batidora hasta que esté a punto letra. Tener sumo cuidado en que no se pase del punto porque sino se corta!
    Si por esas tragedias de la vida se llegase a cortar: agregarle un chorrito de crema e integrar. Reservar a un costado.
</li>
<li>Remojar cada galletita y colocar en una fuente hasta formar una capa. Colocar una capa de la crema de dulce de leche. Otra capa de galletitas humedecidas y así 4 veces.</li>
<li>Llevar a enfriar por 1 hora en refrigerador.</li>
<li>Espolvorear con la misma galletita triturada o cacao en polvo es otra opción. Al servir, rallar un poco de chocolate amargo por encima y a ser felices!</li>
</ol>   
<a href="https://www.paulinacocina.net/receta-chocotorta-original/21722">Ver la mejor receta do mundo <strong>aquí</strong></a>
<br>
<a href="../../index.html">Volver al inicio</a>
</body>
</html>